a{
	color:$orange;
	text-decoration:none;

	&:hover, &:active{
		text-decoration:none;

		@include transition(all 0.2s ease-in-out);
	}

	&.button{
		background:$orange;
		border-radius:5px;
		color:$white;
		display:inline-block;
		line-height:1;
		padding:5px 10px;

		&:hover{
			background:$orange_dark;
			text-decoration:none;
		}

		i{
			padding:0 0 0 10px;

			&.left{
				padding:0 10px 0 0;
			}
		}
	}
}

p{
	margin:1em 0;
}

h1, h2, h3, h4, h5, h6{
	color:$orange;
	font-family:$condensed_font_family;
	font-weight:normal;
	line-height:0.8;
	text-transform:uppercase;

	&.block{
		background:$orange;
		color:$white;
		padding:5px 20px;

		&.green{
			background:$orange_dark;
		}

		i{
			padding:0 10px 0 0;
		}
	}

	&.subtitle{
		color:$gray_medium;
		text-transform:lowercase;
	}
}

h1{
	font-size:2em;
}
h2{
	font-size:1.8em;
}
h3{
	font-size:1.6em;
}
h4{
	font-size:1.4em;
}
h5{
	font-size:1.2em;
}
h6{
	font-size:1.1em;
}

blockquote{
	background:$white;
	border:1px solid $gray_medium;
	border-radius:5px;
	font-style:italic;
	margin:2em 0;
	padding:10px;
	position:relative;

	&:before{
		color:$gray_soft;
		content:"\f10d";
		display:block;
		font-size:2em;
		font-family:FontAwesome;
		height:0;
		width:0;
	}

	footer{
		color:$orange;
		font-family:$heading_font_family;
		font-size:1.4em;
		font-style:normal;
		text-align:right;
		text-transform:uppercase;
	}
}

.lower{
	text-transform:lowercase;
}

.notice{
	color:$gray_medium;
	font-size:0.8em;
}

input{
	@include box-sizing(border-box);
}


@media only screen and (min-width: 1024px) {
	h1{
		font-size:4em;
	}
	h2{
		font-size:3em;
	}
	h3{
		font-size:2.6em;
	}
	h4{
		font-size:2.2em;
	}
	h5{
		font-size:2em;
	}
	h6{
		font-size:1.8em;
	}
}
