footer[role=contentinfo]{
	margin:20px 0 0 0;

	section{
    background:$orange;
		color:$white;
		padding:20px;
		text-align:center;

		@include background-image(linear-gradient($orange 0, $orange_dark 100%));

		p{
			font-size:2em;
			margin:20px 0 0 0;
			padding:0 10px;
			word-wrap:break-word;

			&:first-of-type{
				margin:0;
			}

			strong{
				display:block;
				font-family:$condensed_font_family;
				font-size:1.8em;
				text-transform:uppercase;
			}
			a{
				color:$white;

				&:hover{
					text-shadow:0 0 20px $white;
				}
			}
		}

		&.tagline{
			background:$gray_dark;
			border-top:2px solid $gray_medium;
			color:$white;
			font-family:$condensed_font_family;
			font-size:3.6em;
			text-align:center;

			span{
				display:inline-block;
				padding:0 10px;
			}
		}
		&.copyright{
			background:$white;
			color:$body_color;

			p{
				margin:0;
				padding:0;
			}

      ul{
        font-size:1.8em;
        list-style:none;
        margin:10px 0 0 0;
        padding:0;

        li{
          display:inline-block;
          margin:0 5px;
          padding:0;
          text-align:center;

          a{
            border:3px solid $orange;
            border-radius:20px;
            color:$orange;
            display:block;
            font-size:1.6em;
            height:30px;
            line-height:1;
            padding:5px 0 0 0;
            width:35px;

            &:hover{
              background:$orange;
              color:$white;
            }

            &.icon-the-city{
              font-size:1.3em;
            }
          }
        }
      }
		}
	}
}

@media only screen and (min-width: 600px) {
  footer[role=contentinfo]{

  	section{
  		@include clearfix;

  		p{
				float:left;
				font-size:1.8em;
				margin:0;
				width:33.333%;

				@include box-sizing(border-box);
			}

  		&.tagline{
  			font-size:6em;
  			span{
  				padding:0 20px;
  			}
  		}
  		&.copyright{
  			p{
  				float:none;
  				width:100%;
  			}
  		}
  	}
  }
}
