div.mobile-nav{
	color:#fff;
	padding:5px 0;

	@include background-image(linear-gradient($orange 0, $orange_dark 100%));
	@include clearfix;

	a{
		border-radius:5px;
		display:block;
		float:left;
		height:22px;
		margin:0 20px 0 10px;
		padding:3px 5px 0 5px;
		width:20px;

		&:hover{
			hr{
				box-shadow:0 0 20px $white;
			}
			i{
				text-shadow:0 0 20px $white;
			}
		}

		hr{
			background:#fff;
			border:0 none;
			border-radius:5px;
			display:block;
			height:3px;
			margin:3px 0;
			width:100%;
		}
	}

	h1{
		color:$white;
		float:left;
		font-size:3em;
		height:25px;
		margin:0;

		a{
			color:$white;
		}
	}

}

header[role=banner]{
	background:#fff;
	padding:0;
	width:100%;
	z-index:5;

	@include transition(all 0.2s ease);

	a.logo{
		background:$gray_dark;
		box-shadow:0 0 7px 1px rgba(0, 0, 0, 0.3);
		display:none;
		left:0;
		padding:50px 20px 20px 20px;
		position:absolute;
		top:0;
		z-index:3;

		img{
			width:125px;
		}
	}

	aside{
		background: #eee;
		padding:5px 60px 0 125px;
		position:relative;
		z-index:2;

		@include background-image(linear-gradient($orange 0, $orange_dark 100%));
		@include clearfix;

		.wrapper{
			position:static;
		}

		h1{
			color:#fff;
			display:none;
			font-size:1.8em;
		}

		.mobile-nav{
			background:none;
			position:absolute;
			right:0;
			top:0;

			a{
				color:$white;
				font-size:1.8em;
				height:21px;
				padding:4px 5px 0 5px;
				margin:0 10px 0 0;
				text-align:center;
			}
		}

		form{
			background:rgba(255, 255, 255, 0.15);
			border-radius:12.5px;
			display:table;
			height:27px;
			margin:0;
			padding:0 10px;
			width:100%;

			@include box-sizing(border-box);
			@include clearfix;

			input[type=search]{
				background:none;
				border:0 none;
				color:$white;
				display:table-cell;
				font-size:1.6em;
				line-height:27px;
				padding:0;
				vertical-align:middle;
				width:inherit;

				@include placeholder {
					color:rgba(255, 255, 255, 0.7);
				}
			}

			a#search-submit{
				color:rgba(255, 255, 255, 0.7);
				display:table-cell;
				font-size:2em;
				line-height:1;
				padding:4px 0 0 0;
				text-align:right;
				vertical-align:middle;
				width:25px;

				&:hover{
					color:$white;
				}
			}
		}

		ul.social{
			height:26px;
			left:5px;
			list-style:none;
			margin:0;
			padding:0;
			position:absolute;
			top:5px;

			@include clearfix;

			li{
				display:inline-block;
				float:left;
				height:25px;
				line-height:1;
				margin:0 0 0 5px;
				text-align:center;
				width:27px;

				a{
					border-radius:15px;
					color:$white;
					display:block;
					font-size:2.3em;
					height:100%;
					padding:2px 0 0 0;
					width:100%;

					&:hover{
						color:$white;
					}
					&.share-facebook{
						background:$facebook;

						&:hover{
							background:$facebook_hover;
						}
					}
					&.share-twitter{
						background:$twitter;
						&:hover{
							background:$twitter_hover;
						}
					}
				}
				&.text{
					background:none;
					color:rgba(255,255,255,0.9);
					font-family:$condensed_font_family;
					font-size:1.8em;
					padding:5px 5px 0 0;
					width:auto;
				}
			}
		}

		ul.top-nav{
			background:$white;
			list-style:none;
			margin:5px -60px 0 -125px;
			padding:0;

			li{
				border-bottom:1px solid #ccc;
				display:block;
				position:static;

				a{
					color:$gray_medium;
					display:block;
					font-family:$condensed_font_family;
					font-size:1.8em;
					line-height:1;
					text-transform:uppercase;
					padding:10px 20px;
					position:relative;

					i{
						font-size:1.2em;
						padding:0 5px 0 0;
					}
				}
				&.current a, &.currentParent a, &.active a, a:hover{
					background:#666;
				}
				&:before{
					color:$gray_dark;
					font-size:2em;
					position:absolute;
					right:10px;
					top:10px;
				}

				&.live{
					background:$gray_dark;
					height:39px;
				}
			}
		}
	}

	section{
		background:#fff;
		background:rgba(255, 255, 255, 0.85);
		padding:0;
		position:relative;
		width:100%;
		z-index:1;
	}
}



@media only screen and (min-width: 600px) {
	div.mobile-nav{
		display:none;
	}

	header[role=banner]{
		background:none;
		bottom:auto;
		left:auto;
		position:relative;
		top:auto;
		width:auto;

		@include transition(none);

		a.logo{
			display:inline-block;
			left:0;
			position:absolute;
			top:0;
			width:auto;
		}

		aside{
			color:#fff;
			height:35px;
			padding:0;
			position:relative;
			z-index:2;

			.wrapper{
				padding:0 10px 0 0;
				position:relative;

				@include clearfix;
			}

			h1{
				display:block;
				float:right;
				padding:0 20px 0 0;
			}

			form{
				display:none;
			}

			ul.social{
				float:right;
				left:0;
				position:relative;
				top:4px;

				@include clearfix;
			}

			ul.top-nav{
				background:none;
				float:right;
				margin:0;
				padding:0 10px 0 0;
				position:static;

				li{
					border:0 none;
					float:left;
					padding:0;
					text-align:left;
					width:auto;

					a, span.service{
						display:inline-block;
						line-height:35px;
					}
					a{
						border-right:1px solid rgba(255, 255, 255, 0.7);
						color:rgba(255, 255, 255, 0.9);
						padding:0 10px;
						text-transform:lowercase;

						&:hover{
							background:rgba(255, 255, 255, 0.7);
							color:$orange;
						}

						&.first{
							border-left:1px solid rgba(255, 255, 255, 0.7);
						}
					}
					&.live{
						background:none;
						height:35px;
					}
				}
			}
		}

		section{
			box-shadow:0 0 7px 1px rgba(0, 0, 0, 0.3);
			padding:0;
			position:relative;
			z-index:1;

			@include clearfix;
		}
	}
}

@media only screen and (min-width: 650px) {
	header[role=banner]{
		a.logo{
			img{
				width:150px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	header[role=banner]{
		width:100%;
	}
}


@media only screen and (min-width: 1024px) {
	header[role=banner]{
		a.logo{
			img{
				width:auto;
			}
		}
		aside{
			padding:0;
		}
	}
}
