#hero{
	width:100%;
	z-index:2;

	.cycle-slideshow{
		height:100%;
		list-style:none;
		margin:0;
		padding:0;
		width:100%;

		li{
			display:block;
			height:100%;
			position:relative;
			width:100%;

			div.overlay{
				background:rgba(0, 0, 0, 0.5);
				display:table;
				height:100%;
				left:0;
				position:absolute;
				top:0;
				width:100%;
				z-index:2;

				div{
					display:table-cell;
					font-size:3em;
					text-align:center;
					vertical-align:middle;

					h1, h5, h6{
						color:$white;
						margin:10px 0;
						text-shadow:1px 1px 3px $gray_dark;
					}

					h1, h5{
						display:none;
					}

					h6{
						font-size:0.8em;
					}

					a.button{
						box-shadow:1px 1px 3px 0 $gray_dark;
					}
				}
			}

			img{
				max-width:100%;
				position:relative;
				z-index:1;
			}
		}
	}

	#hero-pager{
		bottom:0;
		display:none;
		left:0;
		position:absolute;
		width:100%;

		ul{
			list-style:none;
			margin:0 auto;
			padding:0;
			text-align:center;
			z-index:1000;

			li{
				border:5px solid $white;
				border-radius:150px;
				box-shadow:0 0 7px 1px rgba(0, 0, 0, 0.3);
				display:inline-block;
				height:100px;
				margin:0 2px;
				overflow:hidden;
				width:100px;

				&.cycle-pager-active{
					border-color:$orange;

					a{
						opacity:1;
					}
				}

				a{
					display:block;
					height:100%;
					left:-4950px;
					opacity:0.8;
					position:relative;
					width:10000px;

					@include transition(none);

					&:hover{
						opacity:1;
					}

					img{
						display:block;
						margin:0 auto;
						max-height:100%;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	#hero{
		padding:0 0 75px 0;

		.cycle-slideshow{
			li div.overlay div{
				h1, h5{
					display:block;
				}
			}
		}

		#hero-pager{
			display:block;
		}
	}
}

@media only screen and (min-width: 800px) {
	#hero{
		padding:0 0 75px 0;

		#hero-pager{
			display:block;

			ul{
				li{
					margin:0 10px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	#hero{
		margin:0 auto;
		width:1400px;
	}
}
