#home{
  section[role=main]{

      @include clearfix;

      .content{
        width:100%;
      }

      .recent-sermon{
        background:$orange;
        border-radius:5px;
        color:$white;
        margin:0 0 20px 0;
        padding:5px;
        width:100%;

        @include box-sizing(border-box);

        h2{
          color:white;
          font-size:1.4em;
          margin:5px 0;
        }

        p{
          margin:5px 0;
        }

        a{
          display:block;
          img{
            max-width:100%;
          }
        }
        ul{
          list-style:none;
          margin:0;
          padding:0;

          li{
            display:inline;

            a{
              background:$white;
              color:$orange;
              display:inline-block;
            }
          }
        }
      }

      .sidebar{
        margin-top:0;
        width:100%;
        section{
          background:$green;

          h2{
            margin-bottom:-3px;
          }
        }
        ul{
          li a.current{
            background:$gray_medium;

            &:hover{
              background:$orange;
            }
          }
        }
      }
  }
}

@media only screen and (min-width: 600px) {
  #home{
    section[role=main]{
      .recent-sermon{

        @include clearfix;

        a.img{
          display:inline-block;
          float:left;
          margin:0 5% 0 0;
          width:40%;
        }
        div{
          display:inline-block;
          float:right;
          width:55%;

          p{
            font-size:0.8em;
          }
        }
        ul{
          clear:right;
          float:right;
          width:55%;

          li{
            display:inline-block;
            font-size:0.8em;
            width:45%;

            a{
              display:block;
            }
          }
        }
      }
      .blog{
        article{
          float:left;
          width:47.5%;

          &:nth-child(odd){
            margin-right:5%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #home{
    section[role=main]{

      .content{
        float:left;
        width:55%;
      }
      .blog article{
        float:left;
        width:47.5%;

        &:nth-child(odd){
          margin-right:5%;
        }
      }
      .sidebar{
        float:right;
        width:40%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #home{
    section[role=main]{
      .recent-sermon{
        a.img{
          display:inline-block;
          float:left;
          margin:0 5% 0 0;
          width:30%;
        }
        div{
          float:left;
          width:40%;

          p{
            font-size:1em;
          }
        }
        ul{
          width:20%;

          li{
            display:block;
            font-size:1em;
            margin:0 0 10px 0;
            width:100%;
          }
        }
      }
      .content{
        width:65%;
      }
      .sidebar{
        width:30%;
      }
    }
  }
}
