#body{
  .person{
    border-top:1px solid $gray_medium;
    clear:both;
    padding:20px 0;
    width:100%;

    &.no-border{
      border-top:0 none;
    }

    div.img{
      text-align:center;
    }
    div.text{
      text-align:center;
    }
    h3{
      color:$gray_dark;
      font-family:$condensed_font_family;
      text-transform:none;

      span{
        color:$gray_dark;
        font-size:1em;
        font-weight:bold;
        text-transform:lowercase;
      }
    }
    &.profile{
      div.img{
        text-align:center;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  #body{
    .person{
      display:table;
      div.img{
        display:table-cell;
        text-align:left;
        width:30%;
      }
      div.text{
        display:table-cell;
        padding:0 0 0 5%;
        text-align:left;
        vertical-align:middle;
        width:65%;
      }

      &.profile{
        div.img{
          width:25%;

          img{
            max-width:80%;
          }
        }
        div.text{
          vertical-align:top;
          width:70%;
        }
      }
    }
  }
}
