.sermons{
	header{
		h1{
			margin-bottom:0;
		}
		h5.subtitle{
			font-size:1.6em;
			margin-top:0;
			text-transform:none;
		}
	}
	h1{
		span{
			color:$gray_medium;
			font-size:0.6em;
		}
	}

	ul.actions{
		list-style:none;
		margin:0;
		padding:0;

		li{
			margin:5px 0;
		}
	}
}


.recommended-sermons{
	padding:0 40px;
	position:relative;

	#prev, #next{
    height:30px;
    margin-top:-15px;
    position:absolute;
		top:50%;
    width:30px;

    a{
    	color:$orange;
	    display:block;
	    font-size:1.6em;
	    line-height:1;
    }

    &.disabled{
    	color:$gray_medium;
    	cursor:default;
    }
	}

	#prev{
		left:0;
	}
	#next{
		right:0;
	}

	ul{
		list-style:none;
		margin:0;
		padding:0;

		li{
			color:$gray_medium;
			display:inline-block;
			overflow:hidden;
			padding:0 10px;

			a{
				display:block;

				&.title{
					line-height:0.8;
					padding:5px 0 0 0;
				}
			}
			span{
				font-size:0.8em;
			}

			img{
				max-width:100%;
			}
		}
	}
}

.series{
	div{
		display:inline-block;
		font-size:1.2em;
		margin:10px 0;
		position:relative;

		@include box-sizing(border-box);

		a{
			display:block;

			&.title{
				line-height:0.8;
				padding:5px 0 0 0;
			}

			img{
				max-width:100%;
			}
		}
		span{
			color:$gray_medium;
			display:block;
			font-size:0.8em;
		}
		span.sermon-count{
			background:$orange;
			border-radius:15px;
			color:$white;
			DISPLAY:NONE;
			font-family:$condensed_font_family;
			height:30px;
			line-height:30px;
			position:absolute;
			right:-5px;
			text-align:center;
			top:-15px;
			width:30px;
		}
	}
}

@media only screen and (min-width: 600px) {
	.sermons{
		ul.actions{
			float:right;
			width:30%;
		}

		div.sermon-description{
			float:left;
			width:65%;
		}
	}
	.series{
		div{
			float:left;
			padding:0 10px;
			width:50%;

			&:nth-of-type(2n+1){
				clear:both;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.series{
		div{
			width:33%;

			&:nth-of-type(2n+1){
				clear:none;
			}
			&:nth-of-type(3n+1){
				clear:both;
			}
		}
	}
}
