.tab-nav{
  list-style:none;
  margin:0;
  padding:0;

  @include clearfix;

  li{
    display:block;
    margin:0 0 10px 0;

    a{
      border:1px solid $gray_medium;
      border-radius:2px;
      color:$gray_medium;
      display:block;
      padding:5px 10px;
      text-transform:uppercase;

      &:hover{
        background:$gray_medium;
        color:$white;
      }
      &.active{
        background:$orange;
        border-color:$orange;
        color:$white;
      }
    }
  }
}

.tab-content{

  div.tab-container{
    display:none;

    &.active{
      display:block;
    }

    img{
      max-width:100%;
    }
  }
}
