/*  http://www.genesisthejourney.com
	built with SASS
*/

@import 'reset';
@import 'font-awesome/font-awesome';
@import 'city';
@import 'bourbon/bourbon';


$orange: #f87a2a;
$orange_dark: #ec6814;

$blue:#00235d;
$green:#8dc63f;

$gray_dark: #666;
$gray_medium: #999;
$gray_light: #ccc;
$gray_soft:#eee;

$white:#fff;

$facebook:#305c9a;
$facebook_hover:#597dae;
$twitter:#17b5ea;
$twitter_hover:#45c4ee;



$body_color: $gray_dark;
$heading_color: $gray_dark;
$subtitle_color: $gray_medium;

$link_color: $orange;
$link_color_hover: $orange_dark;
$nav_link_color: #f7941e;



$default_font_family: "futura-pt", Arial, Helvetica, sans-serif;
$condensed_font_family: "futura-pt-condensed", sans-serif;
$heading_font_family: "minion-pro", serif;


@mixin body_background {
	background: #eee url(../images/bkgrd.png) repeat 0 0;
}

@include keyframes(liveFlash) {
  0%, 100% {
    background:rgba(255, 255, 255, 0.7);color:$orange;
  }
  50% {
    background:transparent;color:rgba(255, 255, 255, 0.9);
  }
}


@import 'helper';

@import 'base';
@import 'defaults';
@import 'no-js';

@import 'header';
@import 'navigation';
@import 'nav_custom';
@import 'footer';
@import 'church_online';

@import 'home';
@import 'interior';

@import 'sermons';
@import 'blog';
@import 'pagination';

@import 'hero';
@import 'person';
@import 'song';
@import 'forms';
@import 'tab';
@import 'share';
@import 'search';

@import 'cg';

@import 'print';





