footer[role=contentinfo]{
	background:$gray_dark;
	border-top:2px solid $gray_medium;
	color:#fff;
	margin:20px 0 0 0;

	div.wrapper{
		padding:10px;
	}

	ul.social{
		list-style:none;
		margin:0 auto;
		padding:0;
		width:240px;

		li{
			float:left;
			padding:0 10px;

			a{
				display:block;
				font-size:2.8em;
				text-align:center;
				color:#fff;

				img{
					opacity:0.4;
					@include transition(all, 0.5s, ease-in-out);
				}
				&:hover img{
					opacity:0.8;
				}
			}
		}
	}

	p.location{
		width:240px;
		margin:0 auto;
		padding:0 0 20px 0;
		a{
			display:block;
			font-size:1.4em;
			background:$orange;
			color:#fff;
			padding:5px 10px;

			@include border_radius(10px,10px,10px,10px);
			@include clearfix;

			&:hover{
				background:$orange_dark;
			}

			i{
				font-size:2.4em;
				float:left;
			}
			span{
				float:left;
				padding:3px 0 0 10px;
			}
		}
	}
	div.copyright{
		font-size:1.2em;
		line-height:1.4;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		padding:5px;
		margin:1em 0;
		text-align:center;
		clear:both;

		p{
			margin:0;
		}

		a.email-connect, span{
			display:block;
		}

	}

}