footer[role=contentinfo]{
	margin:20px 0 0 0;

	div.wrapper{
		padding:10px;
	}

	section{
		color:$white;
		padding:10px;
		text-align:center;

		@include background-image(linear-gradient($orange 0, $orange_dark 100%));

		p{
			font-size:2em;
			padding:0 10px;
			word-wrap:break-word;

			strong{
				display:block;
				font-family:$condensed_font_family;
				font-size:1.8em;
				text-transform:uppercase;
			}
			a{
				color:$white;
			}
		}

		&.tagline{
			background:$gray_dark;
			border-top:2px solid $gray_medium;
			color:$white;
			font-family:$condensed_font_family;
			font-size:4em;
			text-align:center;

			span{
				display:inline-block;
				padding:0 10px;
			}
		}
		&.copyright{
			background:$white;
			color:$body_color;
		}
	}
}

@media only screen and (min-width: 600px) {
  footer[role=contentinfo]{

  	section{
  		@include clearfix;

  		p{
				float:left;
				width:33.333%;

				@include box-sizing(border-box);
			}

  		&.tagline{
  			font-size:6em;
  			span{
  				padding:0 20px;
  			}
  		}
  		&.copyright{
  			p{
  				float:none;
  				width:100%;
  			}
  		}
  	}
  }
}
