section[role=main]{
	margin:20px;

	@include clearfix;

	header.header-img{
		width:100%;

		img{
			border-radius:5px;
			max-width:100%;
		}
	}

	.sidebar{
		font-family:$condensed_font_family;

		section{
			background:$gray_medium;
			padding:5px;

			h2{
				color:$white;
				text-align:center;

				font-family:$condensed_font_family;
			}

			a.view-all{
				color:$white;
				display:block;
				font-size:1.4em;
				padding:5px 5px 0 0;
				text-align:right;

				&:hover{
					color:$green;
				}
			}
		}

		ul{
			border:2px solid $white;
			list-style:none;
			margin:0;
			padding:0;

			li{
				border:2px solid $white;
				background:$gray_soft;

				a{
					color:$gray_dark;
					display:block;
					font-size:1.6em;
					padding:5px 10px;
					text-transform:uppercase;

					&:hover, &.current, &.currentParent{
						background:$orange;
						color:$white;
					}
				}

				ul{
					border:0 none;
					border-top:2px solid $white;

					li{
						border-left:0 none;
						border-right:0 none;

						&:last-child{
							border-bottom:0 none;
						}

						a{
							background:$gray_light;
							font-size:1.6em;
							text-align:right;
							text-transform:none;

							&:hover, &.current, &.currentParent{
								background:$gray_dark;
								color:$white;
							}
						}
					}
				}
			}

			&.ads{
				border:0 none;

				@include clearfix;

				li{
					border:0 none;
					background:none;
					float:left;
					margin:0 2.5%;
					padding:10px 0;
					width:45%;

					a{
						padding:0;

						img{
							border-radius:5px;
							max-width:100%;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
    section[role=main]{
        
        .content-left{
        	float:left;
        	width:60%;
        }

        .sidebar{
        	float:right;
        	margin:-30px 20px 0 0;
        	width:30%;

        	section{
        		border-radius:5px;
        	}

        	ul.ads{
        		li{
        			float:none;
        			margin:0;
        			width:100%;
        		}
        	}
        }
    }
}

@media only screen and (min-width: 800px) {
    section[role=main]{
        
        .content-left{
        	width:65%;
        }

        .sidebar{
        	margin-top:-60px;
        	width:25%;
        }
    }
}


@media only screen and (min-width: 1024px) {
    section[role=main]{
        margin:40px auto 20px auto;

        .sidebar{
        	margin-top:-100px;
        }
    }
}