header[role=banner]{
	section{
		nav{
			margin:0;
			padding:0;
			position:relative;

			ul{
				list-style:none;
				margin:0;
				padding:0;

				li{
					border-bottom:1px solid #ccc;
					display:block;
					position:static;

					&:before{
						color:$gray_dark;
						font-size:2em;
						position:absolute;
						right:10px;
						top:10px;
					}

					&:hover, &.current, &.currentParent, &.active{
						background:#ccc;
					}

					a{
						color:$gray_medium;
						display:block;
						font-family:$condensed_font_family;
						font-size:1.8em;
						line-height:1;
						text-transform:uppercase;
						padding:10px 20px;
						position:relative;
					}

					.triangle{
						bottom:0;
						display:none;
						left:50%;
						margin-left:-10px;
						position:absolute;

						@include triangle(20px, $gray_dark, up);
					}
					

					ul{
						background:#ccc;
						border-top:1px solid #eee;
						display:none;

						li{
							border-bottom:1px solid #eee;
							text-indent:10px;

							&:hover, &.current, &.currentParent, &.active{
								background:#ddd;
							}

							a{
								font-size:1.2em;
								text-transform:uppercase;
							}

							&:last-child{
								border-bottom:0 none;
							}
						}
					}

					&.active{
						ul{
							display:block;
						}
					}
				}
			}
		}
	}
}

.js{
	header[role=banner]{
		float:left;
		margin-left:-100%;
	}
	div#body{
		float:left;
		margin-left:0;
	}

	.active-nav{

		header[role=banner]{
			margin-left:0;
		}
		div#body{
			margin-right:-100%;
		}
	}
}


@media only screen and (min-width: 600px) {
	.js{
		header[role=banner], div#body{
			float:none;
			margin:0;
		}
	}

	header[role=banner] section{
		nav{
			padding:0;
			width:100%;

			@include clearfix;

			ul{
				float:right;

				li{
					border-bottom:0 none;
					float:left;

					&:hover, &.active{
						background:none;

						a{
							color:$orange;
						}
					}
					&.active{
						.triangle{
							display:block;
						}
						ul{
							display:none;
						}
					}

					a{
						display:table-cell;
						font-size:2em;
						padding:10px;
						text-align:center;
						vertical-align:middle;

						&:hover{
							background:none;
						}

						i{
							font-size:0.7em;
						}
					}

					&.icon-chevron-right:before,&.icon-chevron-down:before{
						display:none;
					}

					ul{
						display:none;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	header[role=banner] section{
		nav{
			ul{

				li{
					a{
						font-size:2.4em;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	header[role=banner] section{
		nav{
			ul{
				li{
					a{
						font-size:3em;
						padding:10px 20px;
					}
				}
			}
		}
	}
}