/*  http://www.genesisthejourney.com
	built with SASS
*/


$orange: #f87a2a;
$orange_dark: #eb6e1f;

$blue:#00235d;
$green:#8dc63f;

$gray_dark: #666;
$gray_medium: #999;
$gray_light: #ccc;
$gray_soft:#eee;

$white:#fff;



$body_color: $gray_dark;
$heading_color: $gray_dark;
$subtitle_color: $gray_medium;

$link_color: $orange;
$link_color_hover: $orange_dark;
$nav_link_color: #f7941e;



$default_font_family: "futura-pt", Arial, Helvetica, sans-serif;
$heading_font_family: "futura-pt-condensed", sans-serif;


@mixin body_background {
	background: #eee url(../images/bkgrd.png) repeat 0 0;
}


@keyframes flash_orange
{
	0%{background:$gray_soft;color:$gray_dark;}
	50%{background:$orange;color:#fff;}
	100%{background:$gray_soft;color:$gray_dark;}
}

@-moz-keyframes flash_orange /* Firefox */
{
	0%{background:$gray_soft;color:$gray_dark;}
	50%{background:$orange;color:#fff;}
	100%{background:$gray_soft;color:$gray_dark;}
}

@-webkit-keyframes flash_orange /* Safari and Chrome */
{
	0%{background:$gray_soft;color:$gray_dark;}
	50%{background:$orange;color:#fff;}
	100%{background:$gray_soft;color:$gray_dark;}
}

@-o-keyframes flash_orange /* Opera */
{
	0%{background:$gray_soft;}
	50%{background:$orange;}
	100%{background:$gray_soft;}
}


@import 'reset';
@import 'font-awesome';
@import 'bourbon/bourbon';

@import 'base';
@import 'defaults';
@import 'no-js';

@import 'header';
@import 'navigation';
@import 'footer';

@import 'home';
@import 'interior';

@import 'sermons';
@import 'blog';

@import 'hero';
@import 'print';





